@using LSys.View_Models
@model GetDeviceVM
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container-fluid mt-4 px-4">
    <div class="card mb-3">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0">Name</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                    @Model.Name
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0">Id</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                    @Model.Id
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0 ">Group</h6>
                </div>
                <div class="col-sm-9 text-secondary fw-bold">
                    @Model.Group
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0">Mobile</h6>
                </div>
                <div class="col-sm-9 text-secondary ">
                    @Model.Location
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0">Description</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                    @Model.Description
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-12">
                    <a type="button" asp-controller="Device" asp-action="Update" asp-route-id="@Model.Id" class="btn btn-success">Update</a>
                    @*<a type="button" asp-controller="Device" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>*@
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="@("#DeleteDevice"+Model.Id)">Delete (PV)</button>
                </div>
            </div>
        </div>
    </div>
</div>



@await Html.PartialAsync("_DeletePartialView", Model)