@using LSys.View_Models;

@model IEnumerable<GetDeviceVM>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    int rowNumber = 0;
}

<div class="container-fluid mt-4 px-4">
    <a type="button" asp-controller="Device" asp-action="Add" class="btn btn-primary mb-3 d-grid gap-2">Add new device</a>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>

            Devices

        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Group</th>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Location</th>
                        <th scope="col">Details</th>
                        <th scope="col">Control</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Group</th>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Location</th>
                        <th scope="col">Details</th>
                        <th scope="col">Control</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">@(rowNumber += 1)</th>

                            <td>@item.Group</td>
                            <td>@item.Name</td>
                            <td>@item.Description</td>
                            <td>@item.Location</td>
                            <td class="text-right">
                                <a type="button" asp-controller="Device" asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Details</a>
                            <td>
                                    @foreach (var channel in item.Relays)
                                    {
                                        var deviceRS = new SetRelays()
                                            {
                                                FirstChannelState = channel.FirstChannelState,
                                                SecondChannelState = channel.SecondChannelState,
                                                ThirdChannelState = channel.ThirdChannelState,
                                                FourthChannelState = channel.FourthChannelState,
                                            };

                                    <form method="post">
                                        <label asp-for="@channel.FirstChannelState">CH 1:</label>
                                        <input class="form-check-input mt-2" type="checkbox" asp-for="@deviceRS.FirstChannelState">

                                        <label asp-for="@channel.SecondChannelState">CH 2:</label>
                                        <input class="form-check-input mt-2" type="checkbox" asp-for="@deviceRS.SecondChannelState">

                                        <label asp-for="@channel.ThirdChannelState">CH 3:</label>
                                        <input class="form-check-input mt-2" type="checkbox" asp-for="@deviceRS.ThirdChannelState">

                                        <label asp-for="@channel.FourthChannelState">CH 4:</label>
                                        <input class="form-check-input mt-2" type="checkbox" asp-for="@deviceRS.FourthChannelState"> 
                                        

                                        <input asp-for="@deviceRS.Id" type="hidden" value="@item.Id">

                                        <button type="submit" asp-controller="Device" asp-action="SetRelay" class="btn btn-primary">Set</button>
                                    </form>
                                    }
                            </td>

                        </tr>

                    }
                    @*Przygotować paginacje dla listy*@
                </tbody>
            </table>

        </div>
    </div>
</div>

<script>
    function outsideClick(id) {
        var modal = document.getElementById(id);
        console.log(id)

        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    };

    $(function () {
        $('.toggle').change(function () {
            var self = $(this);
            var url = self.data('url');
            var id = self.attr('id');
            var value = self.prop('checked');

            $.ajax({
                url: url,
                data: { id: id },
                type: 'POST',
                success: function (response) {
                    alert(response);
                }
            });
        });
    });


</script>